.navbar {
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 10;
    background-color: transparent;
}
.navbar.active {
    background-color: #ebf8ff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}